@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prova de Seleção Avonale</h1>
    <p class="lead">Esta é uma aplicação-teste como prova de seleção para o cargo de desenvolvedor C#/.Net.</p>
    <p>Navegue pelos recursos da aplicação através do menu localizado na barra superior.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meus Repositórios</h2>
        <p>
            Lista com todos os repositórios abertos do candidato.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Repositórios Favoritos</h2>
        <p>Lista com todos os repositórios marcados como favoritos pelo visitante.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Busca por Repositórios</h2>
        <p>Encontre facilmente o repositório desejado informando o nome do mesmo no campo de pesquisa.</p>
        <p></p>
    </div>
</div>